
/* ----------------------------- Base ---------------------------- */

html {
    font-size: 62.5%;
}

body {
    margin:             0px;
    padding:            0px;
    background-color:   #000000;
    color:              #888;
    font-family:        "Lucida Grande", "Tahoma", "Helvetica", "Arial", sans-serif;
    font-size:          100%;
    quotes:             "\201C" "\201E" "\2018" "\2019";
}

table, tr, td, th {
    font-size: inherit;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    table-layout:fixed;
    overflow:hidden;
    word-wrap:break-word;
}

tr, td {
    vertical-align: top;
    background-color: #333;
}

a:link {
	color: #ccc;
}

a:visited {
	color: #666;
}

a:hover {
	color: #000;
}

a:active {
}

a:focus {
}

img, a img {
    border: none;
}

div.thumbnail {
    border:     1px solid #aaa;
    padding:    1em;
    margin:     1em;
    width:      100px;
    height:     130px;
    text-align: center;
}

div.map-lens {
    min-width:      200px;
    min-height:     100px;
    max-width:      400px;
    max-height:     600px;
}

div.thumbnail div {
    height:     100px;
    overflow:   hidden;
}        

div.exhibit-facet-body {
    color: #ffffff;
    background-color: #333333;
    border: 1px solid #B8B8BB;
}

div.exhibit-facet-header {
    color: #523015;

}

/* ----------------------------- Frame --------------------------- */

#frame {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

#frame tr {
    vertical-align: top;
}

/* ----------------------------- Path ---------------------------- */

#path {
    color: #333;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 3px 8px;
    margin: 0px;
}

#path li {
    display: inline;
    padding-left: 13px;
    padding-right: 3px;
    background-image: url(icons/arrow.gif);
    background-repeat: no-repeat;
    background-position: 1px 5px;
}

#path span {
    font-weight: bold;
}

/* ----------------------------- Header ---------------------------- */

#header {
    margin: 24px 48px;
}

#header h1 {
    font-size: 250%;
    color: #222;
    margin: 0;
    margin-bottom: 6px;
}

#header h2 {
    font-size: 120%;
    color: #aaa;
    margin: 0;
}

/* ----------------------------- Content ---------------------------- */

#content {
    margin: 24px 48px;
    width: 80%;
    padding: 1em;
    background-color: #000;
    background-image: url(grid.gif);
}

#content h1 {
    color: #523015;
    border-bottom: 1px solid #cc0000;
}

/* ----------------------------- Sidebar --------------------------- */

#sidebar {
    width: 15%;
    white-space: nowrap;
    background-color: #000;
 /* background-image: url(hacker.gif); */
    background-position: bottom right;
    background-repeat: no-repeat;
    border-left: 1px solid #ccc;
    padding: 1em;
}

/* ----------------------------- Footer ---------------------------- */

#footer {
    margin-top: 48px;
    border-top: 1px solid #ccc;
    padding: 6px;
    text-align: center;
    color: #888;
    font-size: 80%;
}

#footer a {
    color: #888;
}

/* ----------------------------- Path ---------------------------- */

table.spaced-table {
    border-collapse: collapse;
}

table.spaced-table td {
    padding: 0;
    padding-left: 1em;
}

table.spaced-table td:first-child {
    padding-left: 0;
}

table.spaced-table tr td {
    padding-top: 1em;
}

table.spaced-table tr:first-child td {
    padding-top: 0;
}

/* ----------------------------- Panel --------------------------- */

#view-panel {
    margin-top: 3em;
}

#view-panel table {
    border-spacing: 0px;
    border-collapse: collapse;
}

#view-panel h1 {
    border: none;
    font-size: 120%;
}

#view-panel h1 {
    border: none;
    background: none;
    padding: 0;
    margin: 1em 0;
}

#view-panel h2 {
    border: none;
    background: none;
    padding: 0;
    margin: 0.5em;
}

.item {
    border: 1px solid #aaa;
    padding: 0.3em;
}

/* ----------------------------- Timeline (dark theme) --------------------------- */

.t-highlight1 { background-color: #003; }
.p-highlight1 { background-color: #300; }
.timeline-band-0 .timeline-ether-bg { background-color: #333 }
.timeline-band-1 .timeline-ether-bg { background-color: #111 }
.timeline-band-2 .timeline-ether-bg { background-color: #222 }
.timeline-band-3 .timeline-ether-bg { background-color: #444 }
.timeline-highlight-label-start .label_t-highlight1 { color: #f00; }
.timeline-highlight-label-end .label_t-highlight1 { color: #115; }
.timeline-band-events .important { color: #c00; }
.timeline-band-events .small-important { background: #c00; }
.timeline-date-label-em { color: #fff; }
.timeline-ether-lines { border-color: #555; border-style: solid; }
.timeline-ether-highlight { background: #555; }
.timeline-event-tape,
.timeline-small-event-tape { background: #f60; }
.timeline-ether-weekends { background: #111; }
